<div id="siteModal" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3>add a site</h3>
            </div>
            <div class="modal-body">
                <form class="form" name="site_form" novalidate>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="required"><label>site name</label></span>
                            </div>
                            <div class="col-md-9">
                                <input class="btn-block" type="text" placeholder="site name" name="name" ng-model="site.name" ng-focus required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="required"><label>site price</label></span>
                            </div>
                            <div class="col-md-9">
                                <input class="btn-block" type="number" placeholder="site price" name="price" ng-model="site.price" ng-focus required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="required"><label>site lat</label></span>
                            </div>
                            <div class="col-md-9">
                                <input class="btn-block" type="number" placeholder="site latitude" name="lat" ng-model="site.lat" ng-focus required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="required"><label>site long</label></span>
                            </div>
                            <div class="col-md-9">
                                <input class="btn-block" type="number" placeholder="site longitude" name="lon" ng-model="site.lon" ng-focus required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="required"><label>trail head?</label></span>
                            </div>
                            <div class="col-md-4">
                                <label class="radio-inline">
                                    <input type="radio" name="trailHead" ng-model="site.trailHead" value="true" ng-required="!site.trailHead"> Yes
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label class="radio-inline">
                                    <input type="radio" name="trailHead" ng-model="site.trailHead" value="false" ng-required="!site.trailHead"> No
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger btn-block" data-dismiss="modal">cancel</div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn btn-success btn-block" ng-click="addNewSite(site)" ng-disabled="site_form.$invalid" data-dismiss="modal">submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


