<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<!-- <h1>{{activity.name}}</h1> -->			
		</div>
		<ui-gmap-google-map
			center="map.center"
			zoom="map.zoom"
			draggable="true"
			options="map.option"
			bounds="map.bounds">
				<ui-gmap-markers
					models="adventures"
					
					idKey="id"
					doCluster="true"
					clusterOptions="cluster"
					
					coords="'coords'"
					icon="'url'"
					click="onClick">
						<ui-gmap-windows
							options="'windowOptions'"
							closeClick="closeClick">
								{{adventures.name}}
						</ui-gmap-windows>
				</ui-gmap-markers>
				<ui-gmap-marker
					idKey="userPin.id"
					coords="userPin.coords"
					icon="userPin.url"
					click="onClick(userPin.coords)">
						<ui-gmap-window
							options="windowOptions"
							closeClick="closeClick()">
								<div>{{userCoordsLat}}, {{userCoordsLon}}</div>
						</ui-gmap-window>
				</ui-gmap-marker>
			<ui-gmap-layer namespace="weather" type="WeatherLayer" show="true"></ui-gmap-layer>
		</ui-gmap-google-map>
	</div>
</div>
<!-- 
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3">
				<div class="well camping-well">
					<h3>camping</h3>
					<p>Cold air, dark night, warm fire, bright stars</p>
					<p><small>Unknown</small></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well fishing-well">
					<h3>fishing</h3>
					<p>Many men go fishing all of their lives without knowing that it is not fish they are after.</p>
					<p><small>Henry David Thoreau</small></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well hiking-well">
					<h3>hiking</h3>
					<p>Of all the paths you take in life, make sure a few of them are dirt</p>
					<p><small>Unknown</small></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well climbing-well">
					<h3>rock climbing</h3>
					<p>Getting to the top is optional. Getting down is mandatory.</p>
					<p><small>Ed Viesturs</small></p>
				</div>
			</div>
		</div> <!-- end first row --><!--
		<div class="row">
			<div class="row-same-height">
 				<div class="col-md-8">
					<div class="well">
						<img src="../images/camping-main-img.jpg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">
						<img src="../images/hiking-main-img.jpg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">
						<img src="../images/climbing-main-img.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->