<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Outdoor Adventures</h1>			
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="well">
					<h2>camping</h2>
					<p></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well">
					<h2>fishing</h2>
					<p></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well">
					<h2>hiking</h2>
					<p></p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well">
					<h2>rock climbing</h2>
					<p></p>
				</div>
			</div>
		</div> <!-- end first row -->
		<div class="row">
			<div class="row-same-height">
 				<div class="col-md-8">
					<div class="well">
						<h1>Longer content box</h1>
						<p></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">
						<h1>normal size box</h1>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>