<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Camp Sites</h1>			
		</div>
		<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">	
			<ui-gmap-marker ng-repeat="site in sites" idKey="site.id" coords="site.coords" icon="site.url" click="viewSiteData(site.name, site.price)">
				<ui-gmap-window options="windowOptions" closeClick="hideSiteData()" class="slide.ng-enter slide.ng-leave">
					<div>
						<p class="title-text">{{siteName}}, {{sitePrice}}</p>
					</div>
				</ui-gmap-window>
			</ui-gmap-marker>
			<ui-gmap-marker idKey="userPin.id" coords="userPin.coords" icon="userPin.url" click="viewUserLoc(userPin.coords)">
				<ui-gmap-window options="windowOptions" closeClick="hideUserLoc" class="slide.ng-enter slide.ng-leave">
					<div>
						<p class="title-text">latitude: {{userCoordsLat}}, longitude: {{userCoordsLon}}</p>
					</div>
				</ui-gmap-window>
			</ui-gmap-marker>
			<ui-gmap-layer namespace="weather" type="WeatherLayer" show="true"></ui-gmap-layer>
		</ui-gmap-google-map>
	</div>
</div>


