<h1>Rock Climbing</h1>

<ui-gmap-google-map id="map-canvas" center="map.center" zoom="map.zoom" draggable="true" options="{scrollwheel: false}">
	<!-- <ui-gmap-layer type="TerrainLayer"> -->
		<ui-gmap-marker ng-repeat="crag in crags" coords="crag.coords" idKey="crag.id" click="viewCragData(crag.name, crag.latitude, crag.longitude, crag.difficulty)">
		</ui-gmap-marker>
	<!-- </ui-gmap-layer> -->
</ui-gmap-google-map>

<!-- 
<div class="crag-data">
	<h4>Name: <em>{{name}}</em></h4>
	<h4>Location: <em>{{latitude}}, {{longitude}}</em></h4>
	<h4>Difficulty: <em>{{difficulty}}</em></h4>
	<h4>Temperature: <em>{{temp}}</em></h4>
	<h4>Forecast: <em>{{weather}}</em></h4>
</div> -->


