<h1>Rock Climbing</h1>

<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">	
	 <!-- <ui-gmap-layer type="TerrainLayer" show="true"></ui-gmap-layer> -->
	<ui-gmap-marker ng-repeat="crag in crags" idKey="crag.id" coords="crag.coords" icon="crag.url" click="viewCragData(crag.name, crag.difficult)">
		<ui-gmap-window options="windowOptions" closeClick="hideCragData">
			<div>
				{{cragName}}, {{cragDifficulty}}
			</div>
		</ui-gmap-window>
	</ui-gmap-marker>
	<ui-gmap-marker idKey="userPin.id" coords="userPin.coords" icon="userPin.url" click="viewUserLoc(userPin.coords)">
		<ui-gmap-window options="windowOptions" closeClick="hideUserLoc">
			<div>
				{{userLocation}}
			</div>
		</ui-gmap-window>
	</ui-gmap-marker>
	<!-- <ui-gmap-layer namespace="weather" type="WeatherLayer" show="true"></ui-gmap-layer> -->
</ui-gmap-google-map>

<!-- 
<div class="crag-data">
	<h4>Name: <em>{{name}}</em></h4>
	<h4>Location: <em>{{latitude}}, {{longitude}}</em></h4>
	<h4>Difficulty: <em>{{difficulty}}</em></h4>
	<h4>Temperature: <em>{{temp}}</em></h4>
	<h4>Forecast: <em>{{weather}}</em></h4>
</div> -->


